/*导入字体*/
@font-face {
    font-family:'Vizard-Text';
    src:url('https://bp-vizard-docs-prod.s3.us-west-1.amazonaws.com/fonts/page/MazzardH-Regular.otf');
    font-display:swap;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family:'Vizard-Text-Black';
    src:url('https://bp-vizard-docs-prod.s3.us-west-1.amazonaws.com/fonts/page/MazzardH-Black.otf');
    font-display:swap;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family:'Vizard-Text-Bold';
    src:url('https://bp-vizard-docs-prod.s3.us-west-1.amazonaws.com/fonts/page/MazzardH-Bold.otf');
    font-display:swap;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family:'Vizard-Text-Medium';
    src:url('https://bp-vizard-docs-prod.s3.us-west-1.amazonaws.com/fonts/page/MazzardH-Medium.otf');
    font-display:swap;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family:'Vizard-Text-SemiBold';
    src:url('https://bp-vizard-docs-prod.s3.us-west-1.amazonaws.com/fonts/page/MazzardH-SemiBold.otf');
    font-display:swap;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Vizard-Text';
}
p {
    margin-bottom: 1rem; /* 添加段落底部的间距 */
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 1rem;
}

pre {
    margin-bottom: 1rem;
}

#container {
    display: flex;
}

#sidebar {
    width: 270px;
    background-image: url("https://cdn-docs.vizard.ai/0-web-static/image/home/first_model_background.webp");
    /*background-color: #4822A5;*/
    padding: 15px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;

}

#nav {
    list-style-type: none;
    padding: 0;
    color: white;

}

#nav li {
    margin: 10px 0;
}

#content ol {
    list-style-position: inside; /* 使标记在列表项的内部显示 */
}

#content {
    margin-left: 320px;
    padding: 15px;
    width: calc(100% - 320px);
}

#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover {
    font-family:'Vizard-Text-Bold';
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse; /* 使边框合并为一个 */
}

table, th, td {
    border: 1px solid black; /* 添加边框 */
}

th, td {
    padding: 8px; /* 单元格内边距 */
    text-align: left; /* 文本对齐方式 */
}